In [1]:
import pandas as pd
import numpy as np

In [2]:
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import KBinsDiscretizer
from sklearn.compose import ColumnTransformer

In [3]:
df=pd.read_csv('train.csv', usecols=["Occupation","Purchase", "Marital_Status"])

In [4]:
df

        Occupation  Marital_Status  Purchase
0               10               0      8370
1               10               0     15200
2               10               0      1422
3               10               0      1057
4               16               0      7969
...            ...             ...       ...
550063          13               1       368
550064           1               0       371
550065          15               1       137
550066           1               0       365
550067           0               1       490

[550068 rows x 3 columns]

In [5]:
X = df.iloc[:,1:]
y = df.iloc[:,0]

In [6]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [7]:
clf = DecisionTreeClassifier()

In [8]:
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)

In [9]:
accuracy_score(y_test,y_pred)

0.12090279418983038

In [10]:
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

0.12131590668808263

In [11]:
kbin_age = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')
kbin_fare = KBinsDiscretizer(n_bins=15,encode='ordinal',strategy='quantile')

In [12]:
trf = ColumnTransformer([
    ('first',kbin_age,[0]),
    ('second',kbin_fare,[1])
])

In [13]:
X_train_trf = trf.fit_transform(X_train)
X_test_trf = trf.transform(X_test)

C:\Users\win10\anaconda3\lib\site-packages\sklearn\preprocessing\_discretization.py:220: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn('Bins whose width are too small (i.e., <= '

In [15]:
trf.named_transformers_['first'].bin_edges_

array([array([0., 1.])], dtype=object)

In [17]:
X_train

        Marital_Status  Purchase
178247               1      7800
196647               0      8677
418590               0      7966
408727               0      9852
216416               0     15804
...                ...       ...
110268               0      1862
259178               1      8623
365838               0      6954
131932               0      6151
121958               1      7146

[440054 rows x 2 columns]

In [18]:
output = pd.DataFrame({
    'Marital_Status':X_train['Marital_Status'],
    'Marital_Status_trf':X_train_trf[:,0],
    'Purchase':X_train['Purchase'],
    'Purchase_trf':X_train_trf[:,1]
})

In [19]:
clf = DecisionTreeClassifier()
clf.fit(X_train_trf,y_train)
y_pred2 = clf.predict(X_test_trf)

In [20]:
accuracy_score(y_test,y_pred2)

0.13155598378388206

In [21]:
X_trf = trf.fit_transform(X)
np.mean(cross_val_score(DecisionTreeClassifier(),X,y,cv=10,scoring='accuracy'))

C:\Users\win10\anaconda3\lib\site-packages\sklearn\preprocessing\_discretization.py:220: UserWarning: Bins whose width are too small (i.e., <= 1e-8) in feature 0 are removed. Consider decreasing the number of bins.
  warnings.warn('Bins whose width are too small (i.e., <= '

0.12131590668808263