In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("healthcare-dataset-stroke-data.csv")

In [4]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
df.drop(['ever_married'], axis=1, inplace=True)

In [6]:
df.drop(['work_type'],axis = 1,inplace=True)

In [7]:
df.drop(['id'],axis = 1,inplace=True)

In [8]:
df1 = pd.get_dummies(df,columns=['gender','smoking_status','Residence_type'],drop_first=True)

In [9]:
df1.isnull().sum()

age                                 0
hypertension                        0
heart_disease                       0
avg_glucose_level                   0
bmi                               201
stroke                              0
gender_Male                         0
gender_Other                        0
smoking_status_formerly smoked      0
smoking_status_never smoked         0
smoking_status_smokes               0
Residence_type_Urban                0
dtype: int64

In [20]:
df2 = df1.dropna()

In [21]:
X = df2.drop(['stroke'] , axis = 1)

In [22]:
y = df2['stroke']

In [23]:
X

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Male,gender_Other,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,Residence_type_Urban
0,67.0,0,1,228.69,36.6,1,0,1,0,0,1
2,80.0,0,1,105.92,32.5,1,0,0,1,0,0
3,49.0,0,0,171.23,34.4,0,0,0,0,1,1
4,79.0,1,0,174.12,24.0,0,0,0,1,0,0
5,81.0,0,0,186.21,29.0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
5104,13.0,0,0,103.08,18.6,0,0,0,0,0,0
5106,81.0,0,0,125.20,40.0,0,0,0,1,0,1
5107,35.0,0,0,82.99,30.6,0,0,0,1,0,0
5108,51.0,0,0,166.29,25.6,1,0,1,0,0,0
5109,44.0,0,0,85.28,26.2,0,0,0,0,0,1

In [24]:
y

0       1
2       1
3       1
4       1
5       1
       ..
5104    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 4909, dtype: int64

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=3)

In [26]:
from sklearn.linear_model import LinearRegression

In [27]:
lr = LinearRegression()

In [28]:
lr.fit(X_train,y_train)

LinearRegression()

In [29]:
y_pred = lr.predict(X_test)

In [36]:
#import plotly.express as px
#import plotly.graph_objects as go

from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [37]:
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 0.0821781931325297

In [38]:
print("MSE",mean_squared_error(y_test,y_pred))
print("R2 score",r2_score(y_test,y_pred))

MSE 0.035994602598318416
R2 score 0.05619112064548992