In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [41]:
df = pd.read_excel("BigBasket Products.xlsx"  )

In [42]:
df.drop(['Unnamed: 1'],axis=1,inplace=True)

In [43]:
df.drop(['Unnamed: 7'],axis = 1, inplace=True)

In [44]:
df.drop(['index'],axis = 1,inplace=True)

In [45]:
df.isnull().mean()*100

category         3.309744
sub_category     2.496825
brand            0.003629
sale_price       0.000000
market_price     0.000000
rating          31.304663
dtype: float64

In [46]:

from sklearn.model_selection import train_test_split

In [50]:
X = df.drop(columns=['sale_price'])
y = df['sale_price']

In [51]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [52]:
X_train

,category,sub_category,brand,market_price,rating
4655,"Kitchen, Garden & Pets",Appliances & Electricals,Eveready,280.0,3.8
25381,Beauty & Hygiene,Men's Grooming,Uncle Tony,499.0,NaN
27308,Gourmet & World Food,Oils & Vinegar,Dr. Patkars,675.0,NaN
27056,Cleaning & Household,"Mops, Brushes & Scrubs",Gala,170.0,3.6
4748,Beauty & Hygiene,Bath & Hand Wash,Khadi Natural,70.0,4.2
...,...,...,...,...,...
18898,"Foodgrains, Oil & Masala",Organic Staples,Praakritik,1450.0,4.3
11798,"Foodgrains, Oil & Masala",Dry Fruits,Chandan,60.0,4.0
6637,Snacks & Branded Foods,Biscuits & Cookies,Sunfeast,60.0,4.2
2575,Cleaning & Household,Pooja Needs,Klassic,1299.0,NaN
23720,Snacks & Branded Foods,Biscuits & Cookies,Tasties,85.0,NaN

In [53]:
X_train['category_imputed'] = X_train['category']
X_test['category_imputed'] = X_test['category']

C:\Users\win10\AppData\Local\Temp/ipykernel_3468/2543844771.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['category_imputed'] = X_train['category']
C:\Users\win10\AppData\Local\Temp/ipykernel_3468/2543844771.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_test['category_imputed'] = X_test['category']

In [54]:
X_train.sample(5)

,category,sub_category,brand,market_price,rating,category_imputed
16253,"Foodgrains, Oil & Masala",Masalas & Spices,Everest,350.00,4.3,"Foodgrains, Oil & Masala"
15841,Beauty & Hygiene,Hair Care,Sebamed,599.00,4.2,Beauty & Hygiene
171,Beauty & Hygiene,Skin Care,BIOTIQUE,190.00,3.0,Beauty & Hygiene
17336,Fruits & Vegetables,Fresh Vegetables,Fresho,81.25,NaN,Fruits & Vegetables
26353,Beverages,Fruit Juices & Drinks,Tropicana,20.00,NaN,Beverages

In [57]:
X_train['category_imputed'][X_train['category_imputed'].isnull()] = X_train['category'].dropna().sample(X_train['category_imputed'].isnull().sum()).values

C:\Users\win10\AppData\Local\Temp/ipykernel_3468/1282686443.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train['category_imputed'][X_train['category_imputed'].isnull()] = X_train['category'].dropna().sample(X_train['category_imputed'].isnull().sum()).values
C:\Users\win10\anaconda3\lib\site-packages\pandas\core\generic.py:8870: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)